<header>
    <aside>
        <a href="/#/"><img class="go_back" src="../images/back_button.png"></a>
    </aside>
    <div class="center_header">
        <div class="top_header">
            <h1>QUESTIONS</h1>
            <a href="#"><img class="add_question" src="../images/add_button.png"></a>
            <div class="sort">
                Sort by:
                <span ng-click="questions.sort('date')">
                    recent<img src="../images/down_vote.png" ng-show="questions.sortKey=='date'"
                               ng-class="{'ascend_sort':questions.reverse,'descend_sort':!questions.reverse}">
                </span> or
                <span ng-click="questions.sort('conversations')">
                    hot<img src="../images/down_vote.png" ng-show="questions.sortKey=='conversations'"
                            ng-class="{'ascend_sort':questions.reverse,'descend_sort':!questions.reverse}">
                </span>
            </div>
            <form class="filter">
                <input type="radio" name="a" value="my"><span>My shelf</span>
                <input type="radio" name="a" value="all"><span>All questions</span>
            </form>
        </div>
        <div class="bottom_header">
            <form>
                <input type="text" placeholder="Search questions" ng-model="questions.filterQuestions">
                <input type="submit" value="SEARCH">
            </form>
        </div>
    </div>
</header>
<main>
    <article class="question" ng-repeat="question in questions.questions |
                                         orderBy:questions.sortKey:questions.reverse |
                                         limitTo: questions.limitNbQuestions |
                                         filter: {title: questions.filterQuestions}">
        <img class="owner_pic open_modal" ng-src="{{questions.getCurrentUser(question.owner_id).img_path}}"
             id={{questions.getCurrentUser(question.owner_id).id}} ng-click="questions.openModal($event);">
        <div class="title">
            <p>
                <strong class="open_modal" id={{questions.getCurrentUser(question.owner_id).id}}
                        ng-click="questions.openModal($event);">
                    {{questions.getCurrentUser(question.owner_id).name}}
                </strong> IS ASKING:
            </p>
            <a href="#/question/{{question.id}}"><h2>{{question.title}}</h2></a>
        </div>
        <ul class="respondents">
            <li class="more" ng-show="question.displayMore=='true'">
                <p>{{questions.countMoreActivities(question)}}</p>
                <p>more activities</p><div class="dot"></div>
            </li>
            <span ng-repeat="comment in questions.comments | filter:{question_id:question.id} | limitTo:3">
                <li class="commented">
                    <img class="resp_pic open_modal" ng-src="{{questions.getCurrentUser(comment.owner_id).img_path}}"
                         id={{questions.getCurrentUser(comment.owner_id).id}}
                         ng-click="questions.openModal($event);">
                    <div class="dot"></div>
                </li>
            </span>
            <li class="answered" ng-repeat="answer in questions.answers | filter:{question_id:question.id}">
                <img class="resp_pic open_modal" ng-src="{{questions.getCurrentUser(answer.owner_id).img_path}}"
                     id={{questions.getCurrentUser(answer.owner_id).id}}
                     ng-click="questions.openModal($event);">
                <div class="dot black_dot"></div>
            </li>
        </ul>
        <div class="statistics">
            <p><span>{{question.related_discussions}}</span>related discussion</p>
            <p><span>{{question.peers_involved}}</span>peers involved</p>
            <p><span>{{question.conversations}}</span>conversations</p>
        </div>
    </article>
    <article class="load_more">
        <p ng-click="questions.increaseNbQuestions()">load more questions</p>
    </article>
</main>