<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="../css/single.css">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/profileModal.css">
    </head>
    <body>
        <header>
            <aside>
                <a href="allQuestions.html"><img class="go_back" src="../images/back_button.png"></a>
            </aside>
            <div class="center_header">
                <h1>QUESTIONS</h1>
                <a href="#"><img class="add_question" src="../images/add_button.png"></a>
                <p>Last time discussed <span>1</span> day ago</p>
            </div>
        </header>
        <main>
            <section class="question">
                <img class="owner_pic open_modal" src="../images/eva.png">
                <div class="title">
                    <p><strong class="open_modal">Eva</strong> IS ASKING:</p>
                    <h2>Will insuline make my patient gain weight?</h2>
                </div>
                <a href="#"><strong>unfollow</strong></a>
                <p class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum semper aliquam.
                    Aliquam a aliquet arcu. Nunc quis lacus tincidunt, pulvinar nisi eu, rhoncus dolor.
                    Donec non ex non massa rutrum vulputate sed id libero. Integer commodo commodo purus euismod ornare.
                    Mauris a mi fringilla, suscipit arcu vestibulum, porttitor dolor.
                </p>
                <div class="votes">
                    <p><span>19</span> upvotes</p>
                    <a href="#"><img class="up_vote" src="../images/up_vote.png"></a>
                    <a href="#"><img class="down_vote" src="../images/down_vote.png"></a>
                </div>
                <button>GIVE new answer</button>
            </section>
            <section class="all_answers">
                <p class="answers_header"><span>2</span> peers already answered Eva</p>
                <article class="answer">
                    <img class="owner_pic open_modal" src="../images/patricia.png">
                    <div class="title">
                        <p>
                            <strong class="open_modal">Patricia</strong> COMMENTED IT<span class="comment_dot"></span>
                            <span class="comment_date">yesterday</span>
                        </p>
                    </div>
                    <p class="description">
                        Nunc quis lacus tincidunt, pulvinar nisi eu, rhoncus dolor.
                        Donec non ex non massa rutrum vulputate sed id libero.
                    </p>
                    <div class="votes">
                        <p><span>8</span> upvotes</p>
                        <a href="#"><img class="up_vote" src="../images/up_vote.png"></a>
                        <a href="#"><img class="down_vote" src="../images/down_vote.png"></a>
                    </div>
                </article>
                <article class="continued_answer">
                    <img class="owner_pic open_modal" src="../images/david.png">
                    <div class="title">
                        <p>
                            <strong class="open_modal">David</strong> COMMENTED IT<span class="comment_dot"></span>
                            <span class="comment_date">yesterday</span>
                        </p>
                    </div>
                    <p class="description">
                        Nunc quis lacus tincidunt, pulvinar nisi eu, rhoncus dolor.
                        Donec non ex non massa rutrum vulputate sed id libero.
                    </p>
                    <div class="votes">
                        <p><span>2</span> upvotes</p>
                        <a href="#"><img class="up_vote" src="../images/up_vote.png"></a>
                        <a href="#"><img class="down_vote" src="../images/down_vote.png"></a>
                    </div>
                    <button>CONTINUE discussion</button>
                </article>
                <article class="answer uncommented">
                    <img class="owner_pic open_modal" src="../images/joseph.png">
                    <div class="title">
                        <p>
                            <strong class="open_modal">Joseph</strong> COMMENTED IT<span class="comment_dot"></span>
                            <span class="comment_date">two days</span>
                        </p>
                    </div>
                    <p class="description">
                        Nunc quis lacus tincidunt, pulvinar nisi eu, rhoncus dolor.
                        Donec non ex non massa rutrum vulputate sed id libero.
                    </p>
                    <div class="votes">
                        <p><span>3</span> downvotes</p>
                        <a href="#"><img class="up_vote" src="../images/up_vote.png"></a>
                        <a href="#"><img class="down_vote" src="../images/down_vote.png"></a>
                    </div>
                    <button>COMMENT</button>
                </article>
            </section>
        </main>
        
        <!-- MODAL BOX -->
        
        <div id="profile_modal" class="modal">
            <div class="modal_content">
                <header>
                    <span class="close_modal">X</span>
                    <img src="../images/halima_big.png">
                    <p><strong>Dr. Halima</strong></p>
                    <ul class="info">
                        <li>MEMBER FOR <span> 5 months</span></li>
                        <li>LAST SEEN <span> Saturday afternoon</span></li>
                        <li>ACTIVITY LEVEL
                            <img src=../images/activity_level_on.png>
                            <img src=../images/activity_level_on.png>
                            <img src=../images/activity_level_off.png>
                        </li>
                    </ul>
                </header>
                <main>
                    <h1>How it all started</h1>
                    <img src="../images/back_button2.png" class="back_button">
                    <img src="../images/next_button.png" class="next_button">
                    <p>
                        THAT'S WHERE WE HAVE BEEN THESE 5 MONTHS AGO
                    </p>
                    <ul class="squares">
                        <li id="peers"><p>46</p><span>peers</span></li>
                        <li id="discussions"><p>29</p><span>discussions</span></li>
                        <li id="findings"><p>19</p><span>findings</span></li>
                        <li id="questions"><p>10</p><span>questions</span></li>
                    </ul>
                    <p>
                        WHO JOINED THE PLATFORM THAT SAME PERIOD
                    </p>
                    <ul class="join_users">
                        <li><img src="../images/waweru.png"><p>S.E.N. Waweru</p></li>
                        <li><img src="../images/patricia.png"><p>Patricia</p></li>
                        <li><img src="../images/joseph.png"><p>Joseph Aluoch</p></li>
                    </ul>
                    <p>
                        THE HOTTEST DISCUSSION THESE DAYS
                    </p>
                    <div class="hot_discussion">
                        <img src="../images/andrew.png">
                        <p><span>Andrew</span> FOUND THE GUARDIAN ARTICLE</p>
                        <h3>Vegan diet to stop diabetes progress</h3>
                        <ul class="statistics">
                            <li><span>6</span> peers involved</li>
                            <li><span>3</span> related discussions</li>
                            <li><span>3</span> conversations</li>
                            <li><span>19</span> upvotes</li>
                        </ul>
                    </div>
                </main>
            </div>
        </div>
    
    <script src="../js/profileModal.js"></script>
    
    </body>
</html>