<header>
    <aside>
        <a href="/#/"><img class="go_back" src="../images/back_button.png"></a>
    </aside>
    <div class="center_header">
        <h1>QUESTIONS</h1>
        <a href="#"><img class="add_question" src="../images/add_button.png"></a>
        <p>Last time discussed <span>{{singleQuestion.lastDiscussion()}}</span> day ago</p>
    </div>
</header>
<main>
    <section class="question">
        <div class="comment_wrapper">
            <img class="owner_pic open_modal"
                 id={{singleQuestion.currentUser.id}}
                 ng-src="{{singleQuestion.currentUser.img_path}}"
                 ng-click="singleQuestion.openModal($event);">
            <div class="title">
                <p>
                    <strong class="open_modal" id={{singleQuestion.currentUser.id}}
                            ng-click="singleQuestion.openModal($event);">
                        {{singleQuestion.currentUser.name}}
                    </strong>
                    IS ASKING:
                </p>
                <h2>{{singleQuestion.currentQuestion.title}}</h2>
            </div>
            <a href="#"><strong>unfollow</strong></a>
            <p class="description">
                {{singleQuestion.currentQuestion.description}}
            </p>
            <div class="votes">
                <p><span>19</span> upvotes</p>
                <a href="#"><img class="up_vote" src="../images/up_vote.png"></a>
                <a href="#"><img class="down_vote" src="../images/down_vote.png"></a>
            </div>
        </div>
        <button>GIVE new answer</button>
    </section>
    <section class="all_answers">
        <p class="answers_header">
            <span>{{singleQuestion.countAnswers(singleQuestion.currentQuestion)}}</span>
            peers already answered Eva
        </p>
        <article class="answer_with_comments"
                 ng-repeat="answer in singleQuestion.answers | filter:{question_id:singleQuestion.currentQuestion.id}"
                 ng-class="{ 'uncommented':answer.commented=='false' }">
            <article class="answer">
                <img class="owner_pic open_modal"
                     ng-src="{{singleQuestion.getCurrentUser(answer.owner_id).img_path}}"
                     id={{singleQuestion.getCurrentUser(answer.owner_id).id}}
                     ng-click="singleQuestion.openModal($event);">
                <div class="comment_wrapper">
                    <div class="title">
                        <p>
                            <strong class="open_modal" id={{singleQuestion.getCurrentUser(answer.owner_id).id}}
                                    ng-click="singleQuestion.openModal($event);">
                                {{singleQuestion.getCurrentUser(answer.owner_id).name}}
                            </strong>
                            ANSWERED IT<span class="comment_dot"></span>
                            <span class="comment_date">
                                {{singleQuestion.daysAgoAnswered(answer)}}
                            </span>
                        </p>
                    </div>
                    <p class="description">
                        {{answer.text}}
                    </p>
                    <div class="votes">
                        <p><span>8</span> upvotes</p>
                        <a href="#"><img class="up_vote" src="../images/up_vote.png"></a>
                        <a href="#"><img class="down_vote" src="../images/down_vote.png"></a>
                    </div>
                </div>
                <button ng-show="answer.commented=='false'">COMMENT</button>
            </article>
            <article class="continued_answer"
                     ng-repeat="comment in singleQuestion.comments | filter:{answer_id:answer.id}"
                     ng-show="answer.commented=='true'">
                <img class="owner_pic open_modal"
                     ng-src="{{singleQuestion.getCurrentUser(comment.owner_id).img_path}}"
                     id={{singleQuestion.getCurrentUser(comment.owner_id).id}}
                     ng-click="singleQuestion.openModal($event);">
                <div class="comment_wrapper">
                    <div class="title">
                        <p>
                            <strong class="open_modal" id={{singleQuestion.getCurrentUser(comment.owner_id).id}}
                                    ng-click="singleQuestion.openModal($event);">
                                {{singleQuestion.getCurrentUser(comment.owner_id).name}}
                            </strong>
                            COMMENTED IT<span class="comment_dot"></span>
                            <span class="comment_date">{{singleQuestion.daysAgoAnswered(answer)}}</span>
                        </p>
                    </div>
                    <p class="description">
                        {{comment.text}}
                    </p>
                    <div class="votes">
                        <p><span>2</span> upvotes</p>
                        <a href="#"><img class="up_vote" src="../images/up_vote.png"></a>
                        <a href="#"><img class="down_vote" src="../images/down_vote.png"></a>
                    </div>
                </div>
                <button>CONTINUE discussion</button>
            </article>
        </article>
    </section>
</main>